<h1>Its a Post!</h1>
<br>
<h4> <%= "#{@post.content}" %> </h4>
<br>
<%= form_for [@post, @comment], url: comments_path do |f| %>
  <%= f.label :reply  %>
  <%= f.text_field :reply %>
  <%= f.submit %>
<% end %>
<br>
<br>

<% @comments.each do |comment| %>
  <%= comment.reply %>
<% end %>
